@font-face {
    font-family: 'HIPSTELVETICA';
    src: url("../fonts/Hipstelvetica Bold.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Coves Bold';
    src: url("../fonts/Coves Bold.otf") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Airbag';
    src: url("../fonts/airbag-regular-webfont.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}